.hidden {
    display: none;
}

.no-gutter-override .col {
    padding: 0 !important;
}

/*
 * Extend grid
 */

.s2-5,
.s3-5 {
    float: left;
}

.s2-5 {
    width: 40%;
}

.s3-5 {
    width: 60%;
}


@media screen and (max-width: 600px) {
    
    .s2-5,
    .s3-5 {
        width: 100%;
        margin-bottom: 10px;
    }
    
}



.row.quarter-gutter .s1-2,
.row.quarter-gutter .s1-3 {
    padding: 0 6px;
}



a.no--underline:after {
    display: none;
    content: none;
}

p a:after {
    display: none;
    content: none;
}

p a {
    border-bottom: 2px solid #4083B8;
    border-bottom: 2px solid rgba(0, 90 , 161, 0.75);
}

.normal-title {
    margin-left: 0;
}

.page__back {
    margin: 0 0 2rem;
}



html, body {
    height: 100%;
}

@media screen and (min-width: 960px) { .hero-banner.hero-banner--dashboard { height: 100%; } }


/* Search form */

.customform table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

.customform table,
.customform td {
	border: none;
	padding: 0;
	margin: 0;
}

.customform td:first-child { padding-right: 10px; }
.customform td:last-child { padding-left: 10px; }

.customform div {
	position: relative;
}


.customform input {
	display: block;
	width: 100%;
	overflow: hidden;
    height: 49px;
    border: 1px solid #b2b2b2;
    box-sizing: border-box;
	padding-left: 20px;
}

.customform input[type="email"] {
    height: 49px;
    border: 1px solid #b2b2b2;
    box-sizing: border-box;
	padding-right: 49px;
}

.customform button {
    height: 100%;
    background: #005aa1;
    padding: 0 1rem;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 49px;
    width: 49px;
    margin-left: -4px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}


.customform button:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    content: '';
    background: url("../img/icon-arrow-right.svg") no-repeat center center;
    width: 15px;
    margin-left: -7px;
    -webkit-transform: translateX(-10em);
    -ms-transform: translateX(-10em);
    transform: translateX(-10em);
    opacity: 0;
    -webkit-transition: all 0.1s 0s cubic-bezier(0.25, 0.21, 0.015, 0.995);
    transition: all 0.1s 0s cubic-bezier(0.25, 0.21, 0.015, 0.995);
}

.customform button:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: url("../img/icon-arrow-right.svg") no-repeat center center;
    width: 15px;
    margin: auto;
    opacity: 1;
    -webkit-transition: all 0.1s 0.1s cubic-bezier(0.25, 0.21, 0.015, 0.995);
    transition: all 0.1s 0.1s cubic-bezier(0.25, 0.21, 0.015, 0.995);
}


#searchResults {
    margin-top: 15px;
}


@media screen and (max-width: 440px) {
    
	.customform table,
	.customform tr,
	.customform td {
		display: block;
		padding: 0 !important;
	}
	
	.customform td + td {
		margin-top: 10px;
	}

    .customform input {
        /*width: 175px;*/
    }
    
}



/* Contact page */

.contact-category {
    border-bottom: 1px solid #ccc;
    float: left;
    width: 100%;
}

.contact {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.contact--maintitle {
    margin-top: 15px;
    margin-bottom: 0;
}

.contact--title {
    margin-top: 15px;
}

.contact__title {
    text-transform: uppercase;
    font-weight: bold;
}

.contact__name {
    margin-top: 0;
    margin-bottom: 0;
}

.no-gutter-override .map-column {
    padding-right: 15px !important;
}

.map-container {
    min-height: 180px;
    margin-bottom: 20px;
}




.searchform {
    margin-bottom: 25px;
}






/* Newslist */

.newslist {
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.newslist--front {
    margin-top: 20px;
}

.newslist__row {
    margin-bottom: 25px;
}

.newslist__row:first-child h3 {
    margin-top: 0;    
}

.newslist .link--read-more {
    margin-top: 20px;
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 1rem;
}

.newslist h3,
.newslist__title {
    font-size: 1.49rem;
    margin-bottom: 10px;
}

.newslist__date {
    color: #aaaaaa;
    font-size: 0.9em;
    margin-bottom: 2.2em;
}

.newslist__date--calendar {
    color: #212121;
}


@media screen and (max-width: 768px) {
    
    .newslist--calendar {
        padding: 0;
    }
    
}




/* Pagination */


.pagination span {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #c2caca;
    float: left;
    
    -webkit-transition: all 0.4s 0s cubic-bezier(0.25, 0.21, 0.015, 0.995);
    transition: all 0.4s 0s cubic-bezier(0.25, 0.21, 0.015, 0.995);
}

.pagination a {
    height: 100%;
    width: 100%;
    display: block;
}

.pagination span.curPage {
    background-color: #c2caca;
    color: #ffffff;
}

.pagination span.curPage strong {
    font-weight: normal;
}

.pagination span:last-child:not(.curPage),
.pagination span:first-child:not(.curPage) {
    width: auto;
}

.pagination span:last-child:not(.curPage) > *,
.pagination span:first-child:not(.curPage) > * {
    padding: 0 17px;
}

.pagination span:not(.curPage):hover {
    border: 1px solid #5994c2;
    
}


/* Navigation overrides */

.sub-navigation__list {
    margin-top: 0;
}

.sub-navigation__list li.level--1 {
    border: 1px solid #c2caca;
/*    color: #7d7d7e;*/
    -webkit-transition: all 0.4s 0s cubic-bezier(0.25, 0.21, 0.015, 0.995);
    transition: all 0.4s 0s cubic-bezier(0.25, 0.21, 0.015, 0.995);
}

.sub-navigation__list a {
    border: 0px !important;
}


.sub-navigation__list li.level--1:hover {
    border: 1px solid #005aa1;
    border-right-width: 8px;
}

.sub-navigation__list li.is--current.level--1 {
    border: 1px solid #005aa1;
    border-right-width: 4px;
}


.sub-navigation__list li.has--submenu.is--current {
    padding-bottom: 10px;
}

.sub-navigation__list .level--1 ul {
    margin: 0;
}

.sub-navigation__list .level--2 a {
    padding: 0 0 0 30px;
}

.sub-navigation__list .level--2 a:before {
    content: " ";
    display: inline-block;
    width: 20px;
    background: url('../img/arrow-right.png') no-repeat;
    background-size: contain;
    height: 11px;
    
    transition: 0.15s all;
}

.sub-navigation__list .level--2 a:hover:before {
    background: url('../img/arrow-right.png') 25% 50% no-repeat;
    background-size: contain;
}

.sub-navigation__list .is--currentlink {
    color: #373738;
}



@media screen and (max-width: 380px) {
    
    .hero-banner--subpage .page-width {
        -webkit-box-pack: initial;
        -webkit-justify-content: initial;
        -ms-flex-pack: initial;
        justify-content: initial;
    }
    
    .hero-banner__content {
        max-width: 100%;
    }
    
}




/* Popup video */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    display: none;
    
    text-align: center;
}

.overlay > *,
.overlay video,
.overlay img {
    max-width: 100%;
}

.overlay > * {
    padding: 0 15px;
}

.overlay .hidden {
    
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.popup__close {
    font-family: "refrigerator-deluxe","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.8em;
    cursor: pointer;
    margin-top: 10px;
}

.popup__video {
    background-position: 50% 50% !important;
}

@media screen and (min-width: 660px) {
    
    .popup__video {
        /*min-width: 600px;*/
    }
    
}

.errorpage-container {
    margin-top: 150px;
}


/* Solution fixes*/


.solution-grid__link {
    padding: 0;    
}

.solution-grid__link > a {
    padding: 1rem 64px 1rem 32px;
    display: block;
}



/* Long dropdown fix */

.btn--dropdown {
    cursor: pointer;
}

.dropdown-container {
    position: relative;
}

/*.dropdown-container::-webkit-scrollbar { 
    display: none; 
}*/

.dropdown-container > ul {
    position: relative;
}

.btn__dropdown--nopadding {
    padding: 0.2rem 0;
    overflow: hidden;
    pointer-events: all;
    cursor: pointer;
}

.btn__dropdown__list--nopadding {
    padding-left: 10px;
    padding-right: 10px;
}

.btn__dropdown--textonly {
    font-size: 0.9rem;
}

.btn__dropdown--textonly li {
    padding: 0.2em 0; 
}

.dropdown-container__indicator-holder {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 5px;
}

.dropdown-container__indicator {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 20px;
    background-color: #005aa1;
}

.dropdown-container__indicator-height-limiter {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
 
.dropdown-container:not(.not--long) {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
}

.not--long + .dropdown-container__indicator-holder {
    display: none;
}

@media screen and (max-width: 768px) {
    
    .btn__dropdown .btn__dropdown__list a:after {
        right: 10px;
    }
    
}


.product--single__buttons .btn--ghost {
    margin: 0.6rem 0;
    padding: 1rem 4.5rem 1rem 1rem;
}



@media screen and (min-width: 481px) {
    
    .product-grid__item h3 {
        min-height: 44px;
    }

}


@media screen and (min-width: 481px) and (max-width: 570px) {
    
    .grid--records__container p {
        min-height: 9rem;
    }
    
    .grid--records__amount {
        font-size: 1.72rem;
    }
    
}



.site-header--mobile__buttons {
    display: inline-block;
}



/* Image gallery */



.image-gallery {
    margin-top: 30px;
    padding: 0 11px;
}

.image-gallery .col:nth-child(3n):after {
    content:" ";
    clear: both;
    float: none;
}

.image-gallery a {
    display: block;
}

.image-gallery .item {
    text-transform: capitalize;
}

.image-gallery .product-grid__item {
    text-align: left;
    margin: 0 0 10px 0;
}
    
.item-image {
    text-align: center;
    height: 130px;
}

.item-image img {
    max-height: 130px;
}

.item-image + div {
    margin-top: 10px;
}

.item-image + p {
    text-transform: none;
}

@media screen and (min-width: 768px) {

    .image-gallery .product-grid__item {
        min-height: 250px;
    }
    
    .image-gallery--folder .product-grid__item {
        min-height: 0px;
    }
    
 	
    
}

@media screen and (min-width: 480px) {
    
    .item-image + p {
        min-height: 44px;
    }
    
}





/* Join us form */


.input {
    position: relative;
    padding: 16px 0;
    min-height: 56px;
}

.input:not(.checkbox) input {
    display: block;
    padding: 0.5rem;
    font-size: 0.85rem;
    background: white;
    width: 100%;
    height: 2.5rem;
    resize: none;
    border: 1px solid #c2caca;
}

.input label {
    display: block;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 500;
    color: #7d7d7e;
    padding: 0.25rem 0.5rem;
}

.input:not(.checkbox):not(.file_input) label {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 2em;
    margin: auto 0;
    text-align: left;
    -webkit-transition: all 0.4s 0s cubic-bezier(0.25, 0.21, 0.015, 0.995);
    transition: all 0.4s 0s cubic-bezier(0.25, 0.21, 0.015, 0.995);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
    -ms-pointer-events: none;
}

.input:not(.checkbox):not(.file_input) input:focus ~ label,
.input:not(.checkbox):not(.file_input) input.has--content ~ label {
    -webkit-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    transform: translateY(-120%);
    color: #373738;
}



/* FOOTER */

.block--white {
    background-color: #ffffff;
}

.block--white .contact-us--product {  
    padding: 1px 0 50px;
}




/* Frontpage buttons */


@media screen and (max-width: 767px) {
    
    .dash__block__expanders button[data-target] {
        width: 30rem;
    }
    
    .hero-banner--white {
        height: 75px;
    }
    
}

@media screen and (max-width: 480px) {
    
    .dash__block__expanders button[data-target] {
        width: 90%;
    }
    
    .btn--solution-link, .dash__block__expanders .target a {
        padding: 0.9rem 1.8rem;
        font-size: 1rem;
    }
    
    .dash__footer__grid .block {
        font-size: 1.3em; 
    }
    
    .footer__contact-block input, .footer__contact-block textarea {
        font-size: 1rem;
        height: 3.5rem;
    }
    
    .footer__contact-block label {
        font-size: 1rem;
    }
    
}


@media screen and (max-width: 991px) {
    
    .sr-animated {
        visibility: visible !important;
    }
    
}


.ipad .sr-animated {
    visibility: visible !important;
}


.quote-video::-webkit-media-controls {
  display: none !important;
  -webkit-appearance: none !important;
}


@media screen and (min-width: 1024px) and (max-width: 1500px) {
    
    .product-grid__title p {
        min-height: 95px;
    }
    
}


/* hot fix */

.site-navigation a.is--active span,
.site-navigation a.is--active span:after {
    transition-duration: 0s;
}

.site-header--desktop .site-header__logo {
width: 130px;
height: 59px;
}

.site-footer hr {
    margin-top: 0;
}


.newsletter__texts {
    position: relative;
    top: -58px;
}

.newsletter__loading,
.newsletter__sent {
    display: none;
    line-height: 60px;
    font-size: 1.2em;
}


@media screen and (max-width: 1024px) {
    
    .newsletter__loading,
    .newsletter__sent {
        padding-left: 15px;
    }
    
}


.utility-bar__item>button svg, .utility-bar__item>a svg {
    width: 31px;
}

[data-action="toggle-newsletter"] svg {
    position: relative;
    left: -1px;
}


@media screen and (min-width: 767px) {
	.hero-banner__header .heading { font-size: 6.25rem; }
}

@media screen and (min-width: 960px) and (max-height: 539px) {
	.hero-banner__header .heading { font-size: 3.75rem; }
}

@media screen and (min-width: 960px) and (min-height: 540px) and (max-height: 699px) {
	.hero-banner__header .heading { font-size: 5.625rem; }
}

@media screen and (min-width: 960px) and (min-height: 700px) {
	.hero-banner__header .heading { font-size: 7.5rem; }
}



.emerging-element--desktop .center-image .solutions__animation-block { width: 100%; }

.product-grid__title {
	min-height: 331px;
}

@media screen and (max-width: 1040px) {
	.product-grid__title { min-height: 350px; }
}

@media screen and (max-width: 1025px) {
	.product-grid__title { min-height: 314px; }
}

@media screen and (max-width: 768px) {
	.product-grid__title { min-height: 275px; }
}

@media screen and (max-width: 480px) {
	.grid--how-we-work__container .question, .grid--how-we-work__container .answer {
		white-space: normal;
	}
	
	.product-grid__title { min-height: 0px; }
}
